button {
    display: flex;
    gap: 0.5em;
    border-radius: 8px;
    padding: 1em 1.25em;
    font-size: 1em;
    color: $absolute-white;
    cursor: pointer;

    @media screen and (max-width: 768px) {
        font-size: 0.8em;
    }

    @media screen and (max-width: 340px) {
        font-size: 0.7em;
    }
}

.btn-primary {
    border: none;
    background-color: $primary-clr-800;
    font-weight: $font-regular; 

    &:hover {
        transition: all 0.3s ease-in;
        background-color: $primary-clr-500;
    }
}

.btn-dark {
    border: 1px solid $dark-clr-200;
    background-color: $dark-clr-500;
    font-weight: $font-regular;
    
    &:hover {
        transition: all 0.3s ease-in;
        background-color: $dark-clr-100;
    }
}