.genre {
    width: 100%;
    border: 1px solid $dark-clr-200;

    flex: 1;
    display: grid;
    grid-auto-columns: 1fr auto;
    gap: 3.125rem;
    cursor: pointer;

    
    background-color: $dark-clr-600;
    border-radius: 12px;

    padding: 1.875rem;
    margin: 1rem 0;

    &:hover {
        transition: all 0.3s ease-in;
        border: 1px solid $primary-clr-800;
        color: $primary-clr-800;
    }

    img {
        max-width: 100%;
        padding: 1.5rem;
    }

    .genre-title {
        @include flex($justify: space-between, $align: center, $direction: flex);
        font-size: 1em;
        font-weight: $font-bold;
    
        p {
            width: 100%;
            text-align: center;
        }
    }
}

