$absolute-white: #fff;
$absolute-black: #000;

$primary-clr-100: #FFFAFA;
$primary-clr-200: #FFE5E5;
$primary-clr-300: #FFCCCC;
$primary-clr-400: #FF9999;
$primary-clr-500: #FF3333;
$primary-clr-600: #FF1919;
$primary-clr-700: #FF0000;
$primary-clr-800: #E50000;

$dark-clr-100: #4C4C4C;
$dark-clr-200: #404040;
$dark-clr-300: #333333;
$dark-clr-400: #262626;
$dark-clr-500: #1F1F1F;
$dark-clr-600: #1A1A1A;
$dark-clr-700: #141414;
$dark-clr-800: #0F0F0F;

$grey-clr-100: #FCFCFD;
$grey-clr-200: #F7F7F8;
$grey-clr-300: #F1F1F3;
$grey-clr-400: #E4E4E7;
$grey-clr-500: #BFBFBF;
$grey-clr-600: #B3B3B3;
$grey-clr-700: #A6A6A6;
$grey-clr-800: #999999;

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$font-family: 'Manrope', sans-serif;
