@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

@import '../utils/variables';
@import '../utils/mixin';

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: 72.5%;
  scroll-behavior: smooth;
}

.layout {
    background-color: $absolute-black;
    color: $absolute-white;
    font-family: $font-family;
    overflow-x: hidden;
    min-height: 100vh;

    @media screen and (max-width: 1080px) {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

::-webkit-scrollbar {
    background-color: var(--absolute-black);
    width: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-clr-800);
    border-radius: 8px;
}

a {
    @include link;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}