.no_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 0 5%;
    text-align: center;

    position: absolute;
    inset: 0;
    z-index: 9999999999999;
    background-color: $dark-clr-600;

    p {
        padding-top: 1rem;
        color: $primary-clr-800;
    }

    a {
        text-decoration: underline;
        color: $primary-clr-800;
    }

    img {
        width: 200px;
    }
}