.explore {
    position: relative;
    @include flex($justify: start, $align: start, $direction: column);
    gap: 3em;
}

.explore-content {
    display: flex;
    flex-direction: column;
    gap: 0.875em;
    padding-top: 5rem;
    h2 {
      font-size: 2.275em;
    }
    
    p {
      font-size: 1.125em;
      color: $grey-clr-800;
    }
} 

.explore__container {
  width: 100%;
  @include flex($justify: space-between, $align: end, $direction: flex);
  gap: 3.125em;
}

.explore__controler {
  @include flex($justify: center, $align: center, $direction: flex);
  gap: 1em;
  background-color: $dark-clr-800;
  border: 2px solid $dark-clr-600;
  border-radius: 4px;
  padding: 0.5em;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.slider__arrow {
  @include flex($justify: center, $align: center, $direction: flex);
  background-color: $dark-clr-600;
  border-radius: 4px;
  padding: 0.875em 1.875em;
  cursor: pointer;

  &:hover {
    transition: all 0.3s ease-in;
    background-color: $dark-clr-200;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.8em;
  }

  @media screen and (max-width: 340px) {
      font-size: 0.7em;
  }
}

.explore-type {
  width: 100%;
}

.swiper-wrapper > * {
  padding:0 0.2em;
}
