.header {
    min-height: max-content;
    background: linear-gradient(to bottom,
    rgba(15, 15, 15, 0.1) 10%,
    rgba(15, 15, 15, 0.2) 20%,
    rgba(15, 15, 15, 0.4) 50%,
    rgba(15, 15, 15, 0.6) 70%,
    #0f0f0fcc 100%
    ),
    url('./../assets/images/hero.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.hero {
    padding: 500px 5%  0  5%;

    @media screen and (max-width: 1280px) {
        padding: 500px 8%  0  8%;
    }

    @media screen and (max-width: 878px) {
        padding: 500px 2.5%  0  2.5%;
    }
}

.content {

    @include flex($direction: column);
    text-align: center;
    gap: 1.5em;

    h1 {
        font-size: 3.625em;
    
        @media screen and (max-width: 1280px) {
            font-size: 3em;
        }
    
        @media screen and (max-width: 878px) {
            font-size: 1.75em;
        }
    }
    p {
        font-size: 1.125em;
        color: $grey-clr-800;
    
        @media screen and (max-width: 1280px) {
            font-size: 0.875em;
        }
    }

    padding: 0 8.375rem 6.625rem 8.375rem;
    @media screen and (max-width: 1080px) {
        padding: 0 5.375rem 6.625rem 5.375rem;
    }
    @media screen and (max-width: 768px) {
        padding: 0 1.375rem 6.625rem 1.375rem;
    }
}

.btn-watch {
    background-color: $primary-clr-800;
    padding: 0.8em 1.2em;
    border-radius: 8px;

    a {
        @include flex;
        gap: 0.5em;
    }
}