.movies {
    margin-top: 80px;
    padding: 3.125rem;
    border: 1px solid $dark-clr-200;
    border-radius: 8px;

    position: relative;

    button {
        position: absolute;
        top: -1.5rem;
    }

    @media screen and (max-width: 1080px) {
        padding: 3.125rem 1.5rem 1.5rem;
        margin-top: 7.5rem;
    }
    @media screen and (max-width: 768px) {
        margin-top: 0;
        button {
            display: none;
        }

        border: none;
        padding: 3.125rem 0;
    }
}