.devices {
    position: relative;
    padding: 0 5% 2rem 5%;

    @include flex($justify: start, $align: start, $direction: column);
    gap: 5em;

    @media screen and (max-width: 1280px) {
      padding: 0 8% 2rem 8%;
  }

  @media screen and (max-width: 878px) {
    padding: 0 2.5% 2rem 2.5%;
  }
}

.devices-content {
    display: flex;
    flex-direction: column;
    gap: 0.875em;

    padding-top: 5rem;
    h2 {
      font-size: 2.275em;
    }
    
    p {
      font-size: 1.125em;
      color: $grey-clr-800;
    }
}

.devices-types {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media screen and (max-width: 1080px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}