.explore {
    position: relative;
    padding: 8% 5% 4rem 5%;

    @include flex($justify: start, $align: start, $direction: column);
    gap: 3em;

    @media screen and (max-width: 1280px) {
      padding: 8% 8% 4rem 8%;
  }

  @media screen and (max-width: 878px) {
    padding: 8% 2.5% 4rem 2.5%;
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 4rem;
  }
}

.explore-content {
    @include flex($justify: start, $align: start, $direction: column);
    gap: 1em;
}
.explore-content h2 {
  font-size: 2.275em;
  font-weight: bold;
}

.explore-content p {
  font-size: 1.125em;
    opacity: 0.6;
}

.explore__container {
  width: 100%;
  @include flex($justify: space-between, $align: end, $direction: flex);
  gap: 5em;
}

.explore__controler {
  @include flex($justify: center, $align: center, $direction: flex);
  gap: 1em;
  background-color: $dark-clr-800;
  border: 2px solid $dark-clr-600;
  border-radius: 4px;
  padding: 0.5em;

  @media screen and (max-width: 768px) {
    position: absolute;
    bottom: 1.2rem;
    left: 0;
    right: 0;
    z-index: 2;

    border: none;
    background-color: transparent;

    .slider__arrow {
      display: none;
    }

    .swiper__pagination {
      justify-content: center;
    }
  }
}

.slider__arrow {
  @include flex($justify: center, $align: center, $direction: flex);
  background-color: $dark-clr-600;
  border-radius: 4px;
  padding: 0.5em 0.7em;
  cursor: pointer;
}

.explore-type {
  width: 100%;
}

.swiper-wrapper > * {
  padding:0 0.2em;
}

.swiper__pagination {
  display: flex;

  .swiper-pagination-bullet {
    width: 10px;
    height: 2px;
    background-color: $primary-clr-800;
    border-radius: 4px;
  }
}
