.faq {
    position: relative;
    padding: 0 5% 2rem 5%;

    @include flex($justify: start, $align: start, $direction: column);
    gap: 5em;

    @media screen and (max-width: 1280px) {
      padding: 0 8% 2rem 8%;
  }

  @media screen and (max-width: 878px) {
    padding: 0 2.5% 2rem 2.5%;
  }
}

.faq__container {
    @include flex($justify: space-between, $align: end);
    flex-wrap: wrap;
    gap: 1.25em;
    width: 100%;
}

.faq-content {
    display: flex;
    flex-direction: column;
    gap: 0.875em;
    h2 {
      font-size: 2.375rem;
    }
    
    p {
      font-size: 1.125rem;
      color: $grey-clr-800;
    }
}

.faq-questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;

    @media screen and (max-width: 460px) {
      grid-template-columns: 1fr;
    }
  }
  