.header {
    background: 
    linear-gradient(to bottom,
    rgba(15, 15, 15, 0.9) 0%,
    rgba(15, 15, 15, 0.8) 20%,
    rgba(15, 15, 15, 0.7) 30%,
    rgba(15, 15, 15, 0.6) 50%,
    rgba(15, 15, 15, 0.7) 60%,
    rgba(15, 15, 15, 0.8) 65%,
    rgba(15, 15, 15, 1) 100%
    ),
    url('./../assets/images/hero-2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero {
    padding: 500px 5%  0  5%;

    @media screen and (max-width: 1280px) {
        padding: 500px 8%  0  8%;
    }

    @media screen and (max-width: 878px) {
        padding: 500px 2.5%  0  2.5%;
    }
}

.content {
    @include flex($direction: column);
    text-align: center;
    gap: 1.5em;

    h1 {
        font-size: 3.625em;
    
        @media screen and (max-width: 1280px) {
            font-size: 3em;
        }
    
        @media screen and (max-width: 878px) {
            font-size: 1.75em;
        }
    }
    p {
        font-size: 1.125em;
        color: $grey-clr-800;
    
        @media screen and (max-width: 1280px) {
            font-size: 0.875em;
        }
    }
}