#root {
  overflow-x: hidden;
  background: linear-gradient(
    to top, 
    rgba(0, 0, 0, 0.9) 0%, 
    rgba(0, 0, 0, 0.7) 60%, 
    rgba(0, 0, 0, 0.7) 90%, 
    rgba(0, 0, 0, 0.9) 100%
  );
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Default background */
.gradient-bg {
  background: linear-gradient(
    to top, 
    rgba(0, 0, 0, 0.8) 0%, 
    rgba(0, 0, 0, 0.8) 50%, 
    rgba(0, 0, 0, 0.8) 60%, 
    rgba(0, 0, 0, 0.9) 70%, 
    rgba(0, 0, 0, 0.2) 80%, 
    rgba(0, 0, 0, 0) 100%
  );
}

.lg-slider {
  background: linear-gradient(
    to bottom, rgba(0, 0, 0, 0.2) 0%,
     rgba(0, 0, 0, 0.2) 50%, 
     rgba(0, 0, 0, 0.3) 60%, 
     rgba(0, 0, 0, 0.8) 80%, 
     rgba(0, 0, 0, 0.9) 100%),
     linear-gradient(to left, 
     rgba(0, 0, 0, 0.2) 0%, 
     rgba(0, 0, 0, 0.2) 50%, 
     rgba(0, 0, 0, 0.4) 60%, 
     rgba(0, 0, 0, 0.8) 100%);
}

/* Background for small screens */
@media (max-width: 768px) {
  .sm-gradient-bg {
    background: linear-gradient(
      to top, 
      rgba(0, 0, 0, 0.3) 0%, 
      rgba(0, 0, 0, 0.6) 60%, 
      rgba(0, 0, 0, 0.7) 90%, 
      rgba(0, 0, 0, 0.9) 100%
    );
  }

  .lg-slider {
    background: 
      linear-gradient(
         to bottom, 
       rgba(0, 0, 0, 0.2) 0%,
       rgba(0, 0, 0, 0.2) 50%, 
       rgba(0, 0, 0, 0.3) 60%, 
       rgba(0, 0, 0, 1) 80%, 
       rgba(0, 0, 0, 1) 100%),
       linear-gradient(
         to left, 
       rgba(0, 0, 0, 0.2) 0%, 
       rgba(0, 0, 0, 0.2) 50%, 
       rgba(0, 0, 0, 0.4) 60%, 
       rgba(0, 0, 0, 0.8) 100%),
       linear-gradient(
         to right, 
       rgb(0, 0, 0, 0) 0%, 
       rgb(0, 0, 0,0) 50%, 
       rgb(0, 0, 0,1) 60%, 
       rgb(0, 0, 0,1) 100%);
  }
}

/* App.css */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #00BFFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin .5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

